<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271301618675-atgn2kqa18bqbeevgca60mnnipqo0n6g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271301618675-atgn2kqa18bqbeevgca60mnnipqo0n6g</string>
	<key>API_KEY</key>
	<string>AIzaSyDkagVKnfoWIUjOsyfMDGkSjvv0ocalJOY</string>
	<key>GCM_SENDER_ID</key>
	<string>271301618675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemeetng.wemeet</string>
	<key>PROJECT_ID</key>
	<string>wemeet-19cb4</string>
	<key>STORAGE_BUCKET</key>
	<string>wemeet-19cb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271301618675:ios:8963c19ebf0af15db98086</string>
	<key>DATABASE_URL</key>
	<string>https://wemeet-19cb4.firebaseio.com</string>
</dict>
</plist>